footer {
    background-color:$coul_backg_footer;
    font-size: 12px;
    font-family: "roboto";
    color: white;
    padding: 20px 0px 0px 25px;
    height: 163px;
    a{
        color:white;
        text-decoration: none;
      }
      a:link{
        color:white;
      }
      a:visited{
        color:white;
      }
      &__iconText {
        display: flex;
        width: 100%;        
      }
    }

    